body {

    text-align: center;
    max-width: 960px;

}

header img {

    width: 100px;
    height: 100px;
    padding: 30px;
    display: inline;

}

header h1 {

    font-family: Roboto, sans-serif;
    font-size: 35px;
    color: #d9583b;

}

.motto {

    font-family: "PT Serif", serif;
    font-size: 20px;
    color: #f2f2f2;
    display: inline;

}

#mainNav {

    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #f2f2f2;

}

#footerNav {

    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #f2f2f2;

}

ul {

    list-style: none;
    background-color: #262626;

}

header {

    background-color: #a0dbf2;
    margin: 20px auto 0px auto;

}
