body {

    text-align: center;

}

header img {

    width: 120px;
    height: 120px;
    margin-right: 20px;

}

header h1 {

    font-family: Roboto, sans-serif;
    font-size: 35px;
    color: #d9583b;

}

.motto {

    font-family: "PT Serif", serif;
    font-size: 16px;
    color: #f2f2f2;
    margin: 0px;

}

#mainNav ul {

    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    list-style: none;
    background-color: #262626;
    max-width: 960px;
    margin: 0px auto 0px auto;
    padding: 10px 0px 10px 0px;

}

header {

    background-color: #a0dbf2;
    max-width: 960px;
    margin: 20px auto 0px auto;

}

.motto, header img {

    display: inline-block;

}



#mainNav ul li:hover {

    background-color: rgb(0, 0, 0);

}

#mainNav ul li:active {

    background-color: #a0dbf2;

}