body {

    text-align: center;

}

header img {

    width: 120px;
    height: 120px;
    margin: 20px 20px 0px 0px;;

}

header h1 {

    font-family: Roboto, sans-serif;
    font-size: 35px;
    color: #d9583b;
    margin-bottom: 0px;

}

.motto h2{

    font-family: "PT Serif", serif;
    font-size: 12px;
    color: #f2f2f2;
    margin: 0px 0px 20px 0px;

}

ul {

    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    list-style: none;
    background-color: #262626;
    max-width: 960px;
    margin: 0px auto 0px auto;

}

a {

    text-decoration: none;

}

li {

    padding: 10px 0px 10px 0px;

}

header {

    background-color: #a0dbf2;
    max-width: 960px;
    margin: 20px auto 0px auto;

}

.motto, header img {

    display: inline-block;

}

#mainNav ul li a:link, #mainNav ul li a:visited, #mainNav ul li:link, #mainNav ul li:visited {

    color: #f2f2f2;

}

#mainNav ul li a:hover, #mainNav ul li:hover {

    background-color: rgb(0, 0, 0);

}

#mainNav ul li a:active, #mainNav ul li:active {

    color: #a0dbf2;

}