ul {

    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    list-style-type: none;
    background-color: #262626;
    margin: 0px auto 0px auto;
    padding: 0px;

}

li {

    display: inline;

}